{%extends 'blog/base_blog.html'%}
{%block content%}
<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="h3 mb-4 page-title">About This Blog</h2>
        <div class="my-4">

            <hr class="my-4" />
            {%for object in object_list%}
            <strong class="mb-0">{{object.title}}</strong>
            <p></p>
            <div class="list-group mb-5 shadow">
            	{%for sub in object.about_set.all%}
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col">
                            
                            <p class="text-muted mb-0">{{sub.description}}</p>
                        </div>

                    </div>
                </div>
                {%endfor%}
            </div>
            <hr class="my-4" />
            {%endfor%}

        </div>
    </div>
</div>

</div>
{%endblock%}