{%extends 'profile/profile_base.html'%}
{% load widget_tweaks %}
{%block content%}

<main class="form-signin w-25 mt-5 mx-auto text-center">

  <form method='POST' class='border p-3 bg-secondary-subtle' >
{%csrf_token%}

    <h1 class="h3 mb-3 fw-normal-start">Change Password</h1>
{%for field in form%}
    <div class="mb-3">
        {{ field.errors }}
        {{ field.label_tag }} {{ field|add_class:'form-control'}}
    </div>
{%endfor%}



    <button class="btn btn-primary w-50 py-2  " type="submit">Change Password</button>

    <div>
      <div>
        <span>forgot password?</span>
      </div>
      <div>

      </div>   

    

    </div>
  </form>
</main>


{%endblock%}