{%extends 'base.html'%}
{%load static%}
{%block body%}


<div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">

                                <img 
                                {%if request.user.profile_image%}
                                src="{{request.user.profile_image.url}}" 
                                {%else%}
                                src="{%static 'img/profile_image/blank-profile.png'%}" 
                                {%endif%}
                                alt="{{request.user}}" class="rounded-circle p-1 bg-primary" width="110">


                                <div class="mt-3">
                                    <h4>{{request.user.get_full_name}}</h4>
                                    <p class="text-secondary mb-1">@{{request.user.username}}</p>
                                

                                </div>
                            </div>
                            <hr class="my-4">
                            <ul class="list-group list-group-flush">
                          
                                <li class="list-group-item text-center">
                                    <h6 class="mb-0"><a href="">Profile</a></h6>

                                </li>
                                {%if request.user.is_author or request.user.is_superuser%}
                                <li class="list-group-item text-center">
                                    <h6 class="mb-0"><a href="{%url 'create-post'%}">create article</a></h6>
                                    
                                </li>
                                <li class="list-group-item text-center">
                                    <h6 class="mb-0"><a href="{%url 'author-posts' request.user.pk%}">Your article</a></h6>
                                    
                                </li>
                                {%endif%}
                                <li class="list-group-item text-center">
                                    <h6 class="mb-0"><a href="">favorite article</a></h6>
                                    
                                </li>
                                <li class="list-group-item text-center">
                                    <h6 class="mb-0"><a href="{%url 'blog:index'%}">View Site</a></h6>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
{%block content%}
{%endblock%}
            </div>
        </div>
    </div>
{%endblock%}