
                 {%if request.user.is_authenticated%}


         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="{%url 'profile' request.user.pk %}">Profile</a></li>
            <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>


          </ul>
        </li>

      {%else%}
        <li class="nav-item">
          <a class="nav-link text-black" href="{%url 'login'%}">Login</a>
        </li>

      {%endif%}


         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            category
          </a>
          <ul class="dropdown-menu">
            {%for cat in category%}
            <li><a class="dropdown-item" href="{%url 'blog:category_post_list' cat.slug%}">{{cat.title}}</a></li>
            {%endfor%}

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-black" href="#">About Me</a>
        </li>