{%extends 'blog/base_blog.html'%}
{% load crispy_forms_tags %}

{%block content%}

  <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">{{owner.userinfo.title}}</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>{{owner.userinfo.description}}.</p>

                {%for web in owner.userinfo.portfolio.all%}
                <div class="find-widget">
                 {{web.title}}:  <a href="{{web.website}}">{{web.website}}</a>
                </div>
                {%endfor%}
              </div>
              <!-- contact form -->
              <div class="col-md-6 wow animated fadeInRight" id='contact-div' data-wow-delay=".2s">

                  <form class="shake" role="form" method="POST" id="contactForm" name="contact-form" data-toggle="validator">
                  	{%csrf_token%}
                      <!-- Name -->
                      <div class="form-group label-floating">
						{{form.name|as_crispy_field}}
                      </div>
                      <!-- email -->
                      <div class="form-group label-floating">
							{{form.email|as_crispy_field}}
                      </div>
                      <!-- Subject -->
                      <div class="form-group label-floating">
                      	{{form.subject|as_crispy_field}}
                      </div>
                      <!-- Message -->
                      <div class="form-group label-floating">
                          
                          {{form.message|as_crispy_field}}
                      </div>
                      <!-- Form Submit -->

                      <div class="form-submit mt-5">
                          <button class="btn btn-success" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                          <div class="clearfix"></div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>

{%include 'blog/script.html'%}

{% endblock%}