{%extends 'blog/base_blog.html'%}
{% load comment_tags %}

{% load humanize %}

{%block content%}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{post.thumbnail.url}}" class="d-block w-100" alt="...">
    </div>

  </div>
</div>
<div class="col text-center">
		
			<div class="card mb-3" >
			  <div class="row g-0">
			    <div class="col">
			      <div class="card">
			        <h3 class="card-title">{{post.title}}</h3>
			        <p class="card-text"><small class="text-body-secondary">{{post.published|naturaltime}}</small></p>
			        <p class="card-text">{{post.description|safe|linebreaks}}</p>
			        
			        {%for category in post.category.all%}
			       <a href=""><span class="badge text-bg-secondary">{{category.title}}</span></a> 
			        {%endfor%}
			      </div>
			    </div>
			  </div>
			</div>




</div>
{% render_comments post request %}
{%endblock%}